:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}
body {
  background-color: var(--slate-300);
  font-family: "Outfit", sans-serif;
}
.container {
  width: 200px;
  /* display: flex;
  flex-direction: column; */
  height: auto;
  background-color: var(--white);
  border-radius: 15px;
  padding: 12px;
  text-align: center;
}

.container img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}
.title {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
}
.subtitle {
  font-size: 12px;
  color: gray;
  font-weight: normal;
  letter-spacing: 0.2px;
  line-height: 1.5;
}

.wrapper {
  display: grid;
  place-content: center;
  margin-top: 80px;
}
