:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}
body {
  background-color: var(--slate-300);
  font-family: "Outfit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card {
  width: 320px;
  background-color: var(--white);
  border-radius: 15px;
  padding: 12px;
  text-align: center;
}

.card img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 24px;
}
h1 {
  color: #1f3251;
  font-size: 22px;
  font-weight: 700;
  margin: 0 16px 16px;
}
p {
  color: #7b879d;
  font-size: 15px;
  font-weight: 400;
  margin: 0 16px 24px;
  line-height: 1.4;
}
